<body>
  <div class="modal">
    <div class="modal-content">
        <div class="modal-top">
            <h2>Add folder</h2>
            <button class="close-btn">X</button>
        </div>
        <form class="new-folder-form" action="/folder" method="POST">
            <label for="folderName">Folder name</label>
            <input type="text" id="folderName" name="folderName" required/>
            <input type="hidden" name="userInfo" value="<%= currentUser.id %>">
            <button type="submit">Create folder</button>
        </form>
    </div>
  </div>
</body>
</html>