<body>
  <div class="file-modal">
    <div class="modal-content">
        <div class="modal-top">
            <h2>Add file</h2>
            <button class="close-btn">X</button>
        </div>
        <form action="/upload" class="file-uploader-form" method="POST" enctype="multipart/form-data">
            <label for="file">Upload file</label>
            <input id="file" name="file" type="file" />
            <input type="submit" value="Upload File">
        </form>
    </div>
  </div>
</body>
</html>