<!-- list the errors if the form isn't validated -->
<% if (locals.errors) {%>
  <ul class="errors-list">
    <% errors.forEach(function(error) { %>
      <li class="error-msg"><%= error.msg %></li>
    <% }); %>
  </ul>
<% } %>