<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>File Uploader</title>
  <link rel="stylesheet" href="/styles.css">
  <script src="/modal.js" defer></script>
</head>
<body>
    <h2>file page</h2>
<%= console.trace(currentUser) %>
<%- include("partials/add-folder-modal.ejs") %>
<% if (currentUser) {%>
    <div class="file-option">
        <h1><%= currentUser.fullname %>'s file uploader</h1>
            <div class="folder-page-options">
            <div class="folder-options">
                <button class="new-folder-btn">New folder</button>
                <!-- ADD/displays user.FOLDERs (same as messages) -->
                <a href="/log-out">Log out</a>
            </div>
            <form action="/upload" class="file-uploader-form" method="POST" enctype="multipart/form-data">
                <label for="file">Upload file</label>
                <input id="file" name="file" type="file" />
                <input type="submit" value="Upload File">
            </form>
            </div>
    </div>
<% } %>
  
</body>
</html>